body{
  font-family: 'Nunito Sans', sans-serif;
  background-color: #e7f0f0;
  margin:0rem;
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}

<!--Skeleton-->

    .section{
    	margin: 2rem 0 2rem;
    }

    .section.footer{
	margin-bottom: 0;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
}

.section .logo img{
	height: 90px;
  margin-top: 1rem;

}




ul{
  padding:0;
  font-family: 'Nunito Sans', sans-serif;
}

ul > li{
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 5px;
}

.menu a{
	text-decoration: none;
	color: #4A4A4A;
}

.menu li {
    display: inline-block;
    float: center;
    padding-right: 1rem;
    color: #4A4A4A;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    padding: .5rem;
    margin: 0rem;
}


.menu a:hover{
	color: #fff;
}

.pink{
  background: #ff8d98;
}

h1{
  text-transform: uppercase;
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 3px;
  font-weight: 300;
  text-align: center;
  font-size: 16px;
}
