body{
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: #E6EBF1;
}

ul{
  padding:0;
}

ul > li{
  color: black;
  background-color: pink;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 5px;
}

.menu a{
	text-decoration: none;
	color: #4A4A4A;
}

.menu li{
	display: inline-block;
	float: center;
	padding-right: 2rem;
	font-size: 1.05rem;
	color: #4A4A4A;
	letter-spacing: 3px;
}


.menu a:hover{
	color: #E0B4AC;
}
