body{
  font-family: 'Nunito Sans', sans-serif;
  background-color: #E6EBF1;
}

<!--Skeleton-->
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

  .container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; }
  .column,
  .columns {
    width: 100%;
    float: left;
    box-sizing: border-box; }

    .container {
    	width: 90%;
    	padding: 0;
    }

    .section{
    	margin: 2rem 0 2rem;
    }

    .section.footer{
	margin-bottom: 0;
}

.section .logo img{
	height: 45px;
}




ul{
  padding:0;
  font-family: 'Nunito Sans', sans-serif;
}

ul > li{
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 5px;
}

.menu a{
	text-decoration: none;
	color: #4A4A4A;
}

.menu li{
	display: inline-block;
	float: center;
	padding-right: 1rem;
	font-size: 9px;
	color: #4A4A4A;
  text-transform: uppercase;
	letter-spacing: 3px;
}


.menu a:hover{
	color: #E0B4AC;
}

h1{
  text-transform: uppercase;
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 3px;
  font-weight: 300;

}
